<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'global/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'humedad/styles.css' %}">
    <title>Registro de Humedad - Vista Análogica</title>
</head>
<body>
    <h1>Lista de mediciones realizadas</h1>
    <section class="data-content">
        <article class="data-humedad-analog">
            <h2>Mediciones Análogicas</h2>
            <ul class="">
                 {% for hume in humes %}
                 <li>{{hume.humedad_analog}}</li>
                 {% empty %}
                    <li> No sé tienen registros</li>
                 {% endfor %}
            </ul>
        </article>
        <article class="data-humedad-bits">
            <h2>Mediciones en bits</h2>
            <ul class="">
                {% for hume in humes %}
                <li> Humedad en cantidad de bits : {{hume.humedad_bits}}</li>
                {% empty %}
                   <li> No sé tienen registros</li>
                {% endfor %}
            </ul>
        </article>
    </section>
</body>
</html>